meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
title Indicadores de gesti칩n
meta(meta name="description" content="Los indicadores de gesti칩n permiten comparaciones entre dos o m치s datos, dichas comparaciones arrojan un resultado de gran importancia para la toma de decisiones. Los indicadores deben describir de manera precisa lo que se est치 midiendo, para lograr resultados con efectos confiables, pues el indicador debe mostrar el progreso que el plan, programa, proyecto proceso, espera lograr.")    
link(rel="icon",type="image/svg+xml",href="assets/images/logos/senaLogo.svg")
link(rel="stylesheet", href="assets/fonts/feather/feather.css")
link(rel="stylesheet", href="assets/fonts/fontawesome/css/font-awesome.css")
link(href='assets/css/fancybox.css', rel='stylesheet')
link(href='assets/css/animate.css', rel='stylesheet')
link(rel="stylesheet", href="assets/css/main.css")