h2  Resultados de <br>aprendizaje
.brand-line-primary

.card.resultado-item
    .card-body
        ul.bg-color-dark
            li 
                span Diseñar Indicadores de Gestión de Talento Humano para la medición de actividades conforme a métodos técnicos.


