.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Absentismo:
            | Es la falta constante al lugar donde se debe ejercer unas obligaciones, funciones y/0 deberes.
        p
            strong.mr-2 Accidentabilidad:
            | La accidentabilidad hace referencia a la frecuencia o índice de accidentes, en un lugar y tiempo determinados. 
        p
            strong.mr-2 Alineado:
            | Alineado significa que está vinculado a algo, es decir ubicar elementos en la misma línea.
        p
            strong.mr-2 Ficha Técnica:
            | Denominada también hoja de características. La ficha técnica contiene información resumida de las características de una herramienta, objeto, proceso, producto, de acuerdo con la finalidad que se persigue. 
        p
            strong.mr-2 Frecuencia:
            | La frecuencia, es el número de veces en las que se repite un evento, en un periodo de tiempo determinado.
        p
            strong.mr-2 KPI:
            | Sigla en inglés, que en castellano sígnica indicador clave de desempeño.
        p
            strong.mr-2 Objetivos estratégicos:
            | Los objetivos estratégicos son los fines o metas que quiere lograr una empresa en un tiempo determinado, apoyados en la misión, visión y valores institucionales.
        p
            strong.mr-2 SMART:
            | La palabra inglesa SMART significa «inteligente». La sigla hace referencia a las características:  Specific (específico), Measurable (medible), Achievable (realizable), Realistic (realista) y Time-Bound (limitado en tiempo).
