//Colores base del material de formación
$brand-color-dark: #A32330;
$text-color-dark: #FFFFFF;


//Esto lo puede cambiar poe el color que quiera q sugiera el tema. (sE QUITA EL lighten)
$brand-color-light: #EDF1F4;
$text-color-light: #000000;
$brand-color-secondary:#A32330;

